{% extends "base.html" %}

{% block content %}

<div class="wordart slate"><h3 class="text">
    <p>Нашият екип е подготвил повече от двадесет парти програми на теми от любими детски приказки и филми за Вашият  празник.</p>
    <p>Актьорският ни състав е опитен, атрактивен и изненадващо забавен.</p>
    <p>Подарете среща на Вашето съкровище с любимия му приказен герой и се насладете на блясъка и радостта в очите на всички деца!</p>
</h3></div>

    <br>
<br>
<br>

<div class="wordart slate"><h3 class="text">
    Регистрирайте се и запазете дата и час за незабравимо изживяване на вашето дете!
</h3></div>

<h3>

</h3>


<!--    <form action="/accounts/register">
        <input type="submit" value="Регистрация" />

    </form>

    <form action="/accounts/login">
        <input type="submit" value="Вход за регистрирани потребители" />
    </form>
    </p>
-->
<!--<a href="/accounts/register">Регистрация</a>-->
<!--<a href="/accounts/login">Вход</a>-->

{% endblock %}