{% extends "base.html" %}

{% block extrahead %}
{{ block.super }}

{% endblock %}

{% block content %}

<div id="site-name" class="wordart slate"><h1 class="text">Вие заявихте поръчка за парти успешно! <br>Ще се свържем с
    вас за потвърждение. </h1></div>
<br>
<br>
<div class="wordart slate"><h2 class="text">Данни за поръчката:</h2></div>
<br>

{% for field in form %}

<p>
<div class="wordart slate">
    <h4 class="text"><strong>{{ field.label }} </strong>: {{ field.value }} </h4>
</div>

</p>

{% endfor %}

{% endblock %}


