{% extends "base.html" %}

{% block extrahead %}
{{ block.super }}

{% endblock %}

{% block content %}

<div class="wordart slate"><h3 class="text">Вашите поръчки:</h3></div>

<br>

<div class="container-fluid">
    <div class="row">
        <div class="span1"><strong>Номер</strong></div>
        <div class="span1_1"><strong>Дата на р.д.</strong></div>
        <div class="span1"><strong>Начало</strong></div>
        <div class="span1"><strong>Край</strong></div>
        <div class="span1"><strong>Родител</strong></div>
        <div class="span1_1"><strong>Телефон</strong></div>
        <div class="span1"><strong>Дете</strong></div>
        <div class="span1   text-right"><strong>Години</strong></div>
        <div class="span1   text-right"><strong>Бр. деца</strong></div>
        <div class="span1_1 text-right"><strong>Бр. възрастни</strong></div>
        <div class="span1_1 text-right"><strong>Статус</strong></div>
        <div class="span1   text-right"><strong>Платено</strong></div>
        <div class="span1"><strong>Капаро</strong></div>
        <div class="span1   text-right"><strong>За доплащане</strong></div>
        <div class="span1   text-right"><strong>Финално плащане</strong></div>
    </div>

    {% for order in orders %}

    <div class="row">
        <div class="span1"> {{ order.id }}</div>
        <div class="span1_1"> {{ order.rec_date }}</div>
        <div class="span1"> {{ order.rec_time }}</div>
        <div class="span1"> {{ order.rec_time_end }}</div>
        <div class="span1"> {{ order.parent|default:"" }}</div>
        <div class="span1_1"> {{ order.phone|default:"" }}</div>
        <div class="span1"> {{ order.child|default:"" }}</div>
        <div class="span1   text-right"> {{ order.age|default:"" }}</div>
        <div class="span1   text-right"> {{ order.child_count|default:"" }}</div>
        <div class="span1_1 text-right"> {{ order.adult_count|default:"" }}</div>
        <div class="span1_1 text-right"> {{ order.get_status_display }}</div>
        <div class="span1   text-right"> {{ order.payedAmount }}</div>

        <div class="span1">
            {% if order.status != 'CANCELED' and not order.deposit %}
            <a class= "btn btn-info" href="/siteorderpaydeposit/?id={{order.id}}">Капаро 50лв.</a>
            {% endif %}
        </div>

        <div class="span1   text-right"> {{ order.dueAmount }}</div>

        <div class="span1">
            {% if order.status == 'ORDERED' and order.locked and order.dueAmount_int%}
            <a class= "btn btn-info" href="/siteorderpayfinal/?id={{order.id}}">Финално плащане</a>
            {% endif %}
        </div>

    </div>

    {% endfor %}

</div>


{% endblock %}

