{% extends "base.html" %}

{% block content %}

<h1>  ПАРТИ ЦЕНТРОВЕ </h1>
<h2>
        Нашият екип е подготвил повече от двадесет парти програми на теми от любими детски приказки и филми за Вашият  празник. Актьорският ни състав е опитен, атрактивен и изненадващо забавен. Подарете среща на Вашето съкровище с любимия му приказен герой и се насладете на блясъка и радостта в очите на всички деца!
 </h2>
    <br>
<h3>
            Регистрирайте се и запазете дата и час за незабравимо изживяване на вашето дете!
</h3>


<!--    <form action="/accounts/register">
        <input type="submit" value="Регистрация" />

    </form>

    <form action="/accounts/login">
        <input type="submit" value="Вход за регистрирани потребители" />
    </form>
    </p>
-->
<!--<a href="/accounts/register">Регистрация</a>-->
<!--<a href="/accounts/login">Вход</a>-->

{% endblock %}